{% extends "layout.html" %}
{% block title %}Create an account{% endblock %}
{% block content %}
<h3>Create an account</h3>
<form action="/create_user" method="POST">
    Choose a username and password
    <br>
    Username: <input type = "text" name="username">
    <br>
    Password: <input type = "password" name="password">
    <br>
    Repeat password: <input type = "password" name="password_repeat">
    <br>
    I am a restaurant: 
    <select name = "restaurant">
        <option value= "false">False</option>
        <option value = "true">True</option>
    </select> 
    Note: this can not be changed later! <br>
    <input type="submit" value="submit">
</form>
{% endblock %}