<h3>Create the menu for {{ restaurant.name }}</h3>
Current menu: <br/>
	{% for item in menu_items %}
	<form action="/create_menu/modify/{{item.id}}" method="POST">
		<input type = "text" name="item_name" value="{{ item.item_name }}">
		<input type = "text" name="description" value="{{ item.description }}">
		<input type = "number" name="price" value=0>
	<input type="submit" value="modify">
	</form>

	<form action="/create_menu/delete/{{item.id}}" method="POST">
		<input type="submit" value="delete">
	</form>
<br/>
	{% endfor %}

<h4>New item:</h4> 
<form action="/create_menu/add/{{restaurant.id}}" method="POST">
    Item name: <input type = "text" name="item_name"><br/>
	Item description: <input type = "text" name="description"><br/>
	Price: <input type="number" name=price value=0><br/>
    <input type="submit" value="submit">
</form>