{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
{% if user_is_restaurant %}
	<h2>Manage your restaurants!</h2>
	{% for restaurant in owned_restaurants %}
		<h3>{{ restaurant.name }}</h3>
		<a href="/create_menu/{{restaurant.id}}">Update your menu for {{ restaurant.name }}</a><br>
		<a href="/manage_orders/{{restaurant.id}}">Manage orders for {{restaurant.name }}</a><br>
		<br>
		{% endfor %}
		<br><br>
	<a href="/create_restaurant">Create a new restaurant</a>
{% else %}
<ul>
<h2>Choose a restaurant to order from!</h2>
{% for restaurant in restaurants %}
<li> <a href="/restaurant/{{restaurant.id}}">{{ restaurant.name  }}</a>
{% endfor %}
</ul>
{% endif %}

{% endblock %}