{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
<b>Welcome!</b>
{% if user_is_restaurant %}
	<h2>Manage your restaurants!</h2>
	{% for restaurant in owned_restaurants %}
		<a href="/create_menu/{{restaurant.id}}">Update your menu for {{ restaurant.name }}</a>
		<br>
		{% endfor %}
	<a href="/create_restaurant">Create your restaurant!</a>
{% else %}
<ul>
<h2>Choose a restaurant to order from!</h2>
{% for restaurant in restaurants %}
<li> <a href="/restaurant/{{restaurant.id}}">{{ restaurant.name  }}</a>
{% endfor %}
</ul>
{% endif %}

{% endblock %}