<!doctype html>
<title>Food order site - {% block title %}{% endblock %}</title>
<h1>Food order site</h1>
<a href="/">Main Page</a> 
{% if session.username and not session.restaurant %}
	<a href="/order_history/myorders">My orders</a> 
{% elif session.username and session.restaurant %}
	<a href="/">This is a link only visible for restaurants that currently leads nowhere</a>
{% endif %}
<hr>
{% block content %}{% endblock %}
<hr>
{% if session.username %}
<p>You are logged in as {{ session.username }}</p>
<a href="/logout">Log out</a>
{% else %}
<form action="/login" method="POST">
<p>Username:<br>
<input type="text" name="username"></p>
<p>Password:<br>
<input type="password" name="password"></p>
<input type="submit" value="Log in">
<br/>
<a href ="/create_user">Create user</a>
</form>
{% endif %}