<form action="/order" method="POST">
	Anna nimesi:
	<input type="text" name="name">
	<br>
	Tee tilauksesi:
	<p>
		<input type="radio" name="pizza" value="1"> Frutti di Mare
		<input type="radio" name="pizza" value="2"> Margherita
		<input type="radio" name="pizza" value="3"> Quattro Formaggi
		<input type="radio" name="pizza" value="4"> Quattro Stagioni
		<input type="radio" name="pizza" value="5"> Vegaani
	<p>
	Lisää kommentti:
	<input type="text", name="message">

	<br>
	<input type="submit" value="send">
</form>
	